spring.application.name=app
# database
spring.datasource.url=jdbc:postgresql://host.docker.internal:5433/gruzhub
spring.datasource.username=postgres
spring.datasource.password=
spring.jpa.show-sql=false
spring.datasource.type=com.zaxxer.hikari.HikariDataSource
spring.datasource.hikari.maximum-pool-size=50
spring.datasource.hikari.minimum-idle=5
spring.datasource.hikari.pool-name=ConnPool
spring.jpa.properties.hibernate.jdbc.time_out=30
spring.transaction.default-timeout=30
# docs
springdoc.swagger-ui.path=/docs
# API
server.servlet.context-path=/api
server.error.include-message=always
# app
app.mode=development
app.telegram_bot_token=
app.telegram_bot_username=
app.admin_tg_id=165299325
app.application_server=https://dev.tgclick.io
app.jwt_secret_key=
# email
app.email_host=smtp.yandex.com
app.email_port=465
app.email_login=info@proverator.ru
app.email_password=
# sentry
sentry.dsn=
# files
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB