.heightFull {
  min-height: 100dvh;
  max-height: 100dvh;
  overflow-y: auto;
}

.heightSmall {
  min-height: calc(100dvh - 80px);
  max-height: calc(100dvh - 80px);
  overflow-y: auto;
}

@media only screen and (max-width: 1280px) {
  .heightSmall {
    min-height: 100dvh;
    max-height: 100dvh;
    overflow-y: auto;
  }
}
